{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de post</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="aire">
    <header class="post-preview">
        <div class="logo">
            <!--bloque de imagen-->
            <img class="logo-img" src="../static/img/logo.png" alt="">
            <!--bloque de imagen-->
            <a href="{% url 'arcanaCentral:index' %}">
                <h1 class="txt-blk">Arcana</h1>
            </a>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a class="txt-blk" href="#">Astrologia Reflexiva</a></li>
                <li><a class="txt-blk" href="{% url 'rituales:rituales' %}">Rituales y Pociones</a></li>
                <li><a class="txt-blk" href="{% url 'comentarios:contactar' %}">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <div class="pantalla">
        <div class="container">
            {% if posts %}
                {% for post in posts %}
                    <div class="imagen">
                        <img src="{{ post.imagen }}" alt="">
                    </div>
                    <div class="texto">
                        <h2>{{ post.titulo }}</h2>
                        <h4>{{ post.descripcion }}</h4>
                        <p>{{ post.contenido | safe}}</p>
                        <a href="#">Ir al post</a>            
                    </div>
                {% endfor %}
            {% else %}
                    <h2>No Existen Posteos</h2>
            {% endif %}
        </div>
    </div>
</body>
</html>