{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/5100bdbfb9.js" crossorigin="anonymous"></script>
    <title>Astrologia Reflexiva</title>
</head>
<body class="fondo-aire">
    <header>
        <nav class="menu">
            <div class="logo"><img class="img-logo" src="../static/img/ArcanaDiseño405_Moment1_Moment5.png" alt=""><div class="nombre">Arcana</div></div>
            <ul class="menu_items">
                <li><a href="{% url 'astrologia:astrologia' %}">Astrologia</a></li>
                <li><a href="{% url 'rituales:rituales' %}">Rituales y pociones</a></li>
                <li><a href="{% url 'comentarios:contactar' %}">Contacto</a></li>
                <li><a href="{% url 'experiencia:preparativos' %}">Experiencias</a></li>
            </ul>
            <span class="btn_menu">
                <i class="fa fa-bars"></i>
            </span>
        </nav>
    </header>
    {% block contenido %}
    <h1 class="title">Astrologia reflexiva</h1>
    <div class="cont">
        {% if posts %}
            {% for post in posts %}
                <div class="carta">
                    <img src="{{ post.imagen }}" alt="">
                    <h4>{{ post.titulo }}</h4>
                    <p>{{ post.contenido | safe}}</p>
                    <a href="{% url 'astrologia:post' %}">Leer Más</a>
                </div>
            {% endfor %}
        {% else %}
            <h2>No Existen Posteos.</h2>
        {% endif %}
    {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>