{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5100bdbfb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>ARCANA - ARTICULOS</title>
</head>
<body class="fondo-tierra">
  <header>
    <nav class="menu">
        <div class="logo"><img class="img-logo" src="../static/img/ArcanaDiseño405_Moment1_Moment5.png" alt=""><div class="nombre">Arcana</div></div>
        <ul class="menu_items">
            <li><a href="{% url 'astrologia:astrologia' %}">Astrologia</a></li>
            <li><a href="{% url 'rituales:rituales' %}">Rituales y pociones</a></li>
            <li><a href="{% url 'comentarios:contactar' %}">Contacto</a></li>
            <li><a href="{% url 'experiencia:preparativos' %}">Experiencias</a></li>
        </ul>
        <span class="btn_menu">
            <i class="fa fa-bars"></i>
        </span>
    </nav>
  </header>

    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded hero-trans">
            <div class="col-md-6 px-0">
              <h1 class="display-4">El que mira sin ver solo ve tierra</h1>
            </div>
          </div>
          <div class="row mb-2 ">
          {% if rituales %}
          {% for ritual in rituales %}
          <div class="col-md-6 ">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-white rounded fonddd">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ ritual.titulo }}</h3>
                <div class="mb-1 text-muted">{{ ritual.fecha_creacion }}</div>
                <p class="card-text mb-auto">{{ ritual.contenido | safe }}</p>
                <button type="button" class="cssbuttons-io-button  w-50 container" data-bs-toggle="modal" data-bs-target="#exampleModal1"> CONTINUAR LEYENDO
                  <div class="icon">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
                  </div>
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
              <h3 class="title">No Existen Rituales.</h3>
          {% endif %}
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-white rounded fonddd">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Ritual de Luna nueva</h3>
                  <div class="mb-1 text-muted ">Nov 11</div>
                  <p class="mb-auto">Momento de siembra, todo está en oscuridad, la Luna se sitúa entre la Tierra y el Sol, por consiguiente no hay luz percibida desde nuestro hogar. Las aguas descienden totalmente hacia la raíz...</p>
                  <button type="button" class="cssbuttons-io-button  w-50 container" data-bs-toggle="modal" data-bs-target="#exampleModal2"> CONTINUAR LEYENDO
                    <div class="icon">
                      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-white rounded fonddd">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Infusiones y Tizanas con hierbas medicinales</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">La Naturaleza siempre nos ha regalado no solo la clave para vivir sino también para curarnos y volver a estar en sintonía con ella y así con todo...</p>
                    <button type="button" class="cssbuttons-io-button  w-50 container" data-bs-toggle="modal" data-bs-target="#exampleModal3"> CONTINUAR LEYENDO
                      <div class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
                      </div>
                    </button>
                </div>
                </div>
              </div>
          </div>
    </div>

<!-- Modal 1-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ritual de baño con viento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Los rayos cósmicos que chocan con la superficie terrestre se dispersan en una danza iónica impactando directa y armónicamente en nuestro estado químico, físico, mental, emocional..."a veces solo hace falta un paseo con el viento para sentir el pulso rítmico de todo lo que nos rodea y que de una manera muy mágica, también somos. <br><br> 
        Cuando un día ventoso te sorprenda, solo detente…cierra tus ojos y permite que las partículas del viento siempre distintas limpien y se lleven lo pesado que hay en vos y traigan con cada respiración profunda las melodías nuevas que yacen en tu interior. <br><br>
        Tomas un baño con agua diariamente, también puedes hacerlo con viento y solo bastan 15 minutos para bañarte con aires nuevos.
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ritual de Luna nueva</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Momento de siembra, todo está en oscuridad, la Luna se sitúa entre la Tierra y el Sol, por consiguiente no hay luz percibida desde nuestro hogar. Las aguas descienden totalmente hacia la raíz, una poderosa energía se gesta en silencio y oscuridad, la semilla encuentra su razón de ser bajo tierra. En nuestro interior se gesta la próxima cosecha. <br><br>
        En cada siembra hay una intención y es a ello, que en éste momento tenemos que darle trascendencia especial, la cosecha que deseamos es la manifestación de la semilla que en plena oscuridad gestamos. Elije bien tus semillas, tus intenciones. <br><br>
        Tómate un momento para identificar todo esto, enciende una vela, un fogón, el fuego que desees, sahuma el ambiente y tu cuerpo; luego planta una semilla en alguna maceta con tierra abonada y mientras lo haces visualiza la cosecha de tus intenciones y siente la emoción que despierta mientras lo haces. <br><br>
        Cada lunación está acompañada de una energía elemental diferente, ya sea fuego (Espíritu, acción), aire (Mente, comunicación), agua (Emociones, fluir) o tierra (Materia, manifestación). Chequea la energía en la que se produce la lunación nueva y que nos muestra el lenguaje astrológico.
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 3-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Infusiones y Tizanas con hierbas medicinales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        La Naturaleza siempre nos ha regalado no solo la clave para vivir sino también para curarnos y volver a estar en sintonía con ella y así con todo. La magia de combinar extractos de esa Naturaleza para nutrirnos, la constancia y el retorno a los hábitos saludables es volver a nuestra propia esencia. Tu alimento es tu medicina y en tu cocina podes preparar no solo comidas; sino las más bellas pócimas para relajarte, mimarte, amarte y sanarte. <br><br>

        <strong>Té Chai o Massala Chai</strong><br>
        (Incluido con la compra de la experiencia con ARCANA) tiene su origen en el Sur de India y es una bebida típica y de ingesta continua por las calles, trenes y casas de ese maravilloso país. También es utilizada en la Medicina Ayurvédica por las propiedades curativas de sus ingredientes. Cada familia o región tiene su propia receta de elaboración de ésta bebida exótica, intensa y llena de matices y propiedades que nos aporta una bella energía corporal y una invitación a enfocar nuestra mente de una manera elevada. 
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>