@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
@import url(./_responsive.scss);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
@import url(./_responsive.scss);
.index {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
}
.index li, .index a, .index button {
  font-family: "Caesar Dressing", cursive;
  font-weight: 500;
  font-size: 13px;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.index h1 {
  color: whitesmoke;
  font-family: "Uncial Antiqua", cursive;
}
.index a {
  background-color: transparent;
}
.index .txt-blk {
  margin-left: -20%;
  margin-right: 35%;
  background-color: transparent;
}
.index .logo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.index .logo-img {
  height: 67px;
  width: 120px;
}
.index .nav_links {
  list-style: none;
}
.index .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.index .nav_links li a {
  transition: all 0.3s ease 0s;
}
.index .nav_links li a:hover {
  color: #0088a9;
}

.post-preview {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
}
.post-preview li, .post-preview a, .post-preview button {
  font-family: "Caesar Dressing", cursive;
  font-weight: 500;
  font-size: 13px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.post-preview h1 {
  color: black;
  font-family: "Uncial Antiqua", cursive;
}
.post-preview a {
  background-color: transparent;
}
.post-preview .txt-blk {
  margin-left: -20%;
  margin-right: 35%;
  background-color: transparent;
}
.post-preview .logo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.post-preview .logo-img {
  height: 67px;
  width: 120px;
}
.post-preview .nav_links {
  list-style: none;
}
.post-preview .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.post-preview .nav_links li a {
  transition: all 0.3s ease 0s;
}
.post-preview .nav_links li a:hover {
  color: #0088a9;
}

.rituales {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
}
.rituales li, .rituales a, .rituales button {
  font-family: "Caesar Dressing", cursive;
  font-weight: 500;
  font-size: 13px;
  color: beige;
  text-decoration: none;
  cursor: pointer;
}
.rituales h1 {
  color: beige;
  font-family: "Uncial Antiqua", cursive;
}
.rituales a {
  background-color: transparent;
}
.rituales .txt-blk {
  margin-left: -20%;
  margin-right: 35%;
  background-color: transparent;
}
.rituales .logo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.rituales .logo-img {
  height: 67px;
  width: 120px;
}
.rituales .nav_links {
  list-style: none;
}
.rituales .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.rituales .nav_links li a {
  transition: all 0.3s ease 0s;
}
.rituales .nav_links li a:hover {
  color: #0088a9;
}

.contacto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
}
.contacto li, .contacto a, .contacto button {
  font-family: "Caesar Dressing", cursive;
  font-weight: 500;
  font-size: 13px;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.contacto h1 {
  color: whitesmoke;
  font-family: "Uncial Antiqua", cursive;
}
.contacto a {
  background-color: transparent;
}
.contacto .txt-blk {
  margin-left: -20%;
  margin-right: 35%;
  background-color: transparent;
}
.contacto .logo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.contacto .logo-img {
  height: 67px;
  width: 120px;
}
.contacto .nav_links {
  list-style: none;
}
.contacto .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.contacto .nav_links li a {
  transition: all 0.3s ease 0s;
}
.contacto .nav_links li a:hover {
  color: #0088a9;
}

.experiencia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
}
.experiencia li, .experiencia a, .experiencia button {
  font-family: "Caesar Dressing", cursive;
  font-weight: 500;
  font-size: 13px;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.experiencia h1 {
  color: whitesmoke;
  font-family: "Uncial Antiqua", cursive;
}
.experiencia a {
  background-color: transparent;
}
.experiencia .txt-blk {
  margin-left: -20%;
  margin-right: 35%;
  background-color: transparent;
}
.experiencia .logo {
  cursor: pointer;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.experiencia .logo-img {
  height: 67px;
  width: 120px;
}
.experiencia .nav_links {
  list-style: none;
}
.experiencia .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.experiencia .nav_links li a {
  transition: all 0.3s ease 0s;
}
.experiencia .nav_links li a:hover {
  color: #0088a9;
}

.contenedor {
  position: relative;
  margin-top: 3%;
  margin-left: 20%;
  height: 70vh;
  width: 125vh;
  background-color: transparent;
  align-items: center;
  border: 5px solid black;
}

.portal {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  cursor: pointer;
}

.portal:nth-child(4) {
  background-color: black;
  left: 0;
  top: 0;
  animation: flotar 11s infinite linear;
  animation-direction: reverse;
  box-shadow: 0 0 10px rgb(116, 241, 235), 0 0 20px rgb(116, 241, 235), 0 0 40px rgb(116, 241, 235), 0 0 60px rgb(116, 241, 235), 0 0 80px rgb(116, 241, 235), 0 0 100px rgb(116, 241, 235);
}

.portal:nth-child(1) {
  background-color: black;
  left: 90%;
  animation: flotar 11s infinite linear;
  box-shadow: 0 0 10px rgb(233, 71, 7), 0 0 20px rgb(194, 63, 11), 0 0 40px rgb(233, 192, 7), 0 0 60px rgb(216, 197, 25), 0 0 80px rgb(233, 199, 7), 0 0 100px rgb(247, 89, 26);
}

.portal:nth-child(2) {
  background-color: black;
  left: 90%;
  bottom: 0;
  animation: flotar 11s infinite linear;
  animation-direction: reverse;
  box-shadow: 0 0 10px rgb(82, 134, 212), 0 0 20px rgb(42, 97, 179), 0 0 40px rgb(15, 50, 102), 0 0 60px rgb(4, 50, 117), 0 0 80px rgb(87, 143, 228), 0 0 100px rgb(4, 50, 117);
}

.portal:nth-child(3) {
  background-color: black;
  left: 0;
  bottom: 0;
  animation: flotar 11s infinite linear;
  box-shadow: 0 0 10px rgb(3, 109, 21), 0 0 20px rgb(18, 145, 39), 0 0 40px rgb(42, 207, 9), 0 0 60px rgb(3, 197, 13), 0 0 80px rgb(42, 230, 17), 0 0 100px rgb(15, 240, 8);
}

@keyframes flotar {
  from {
    transform: rotate(0deg) translate(-25px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-25px) rotate(-360deg);
  }
}
/*portal del centro*/
/*imagen de arcana*/
.img-arcana {
  position: relative;
  top: -15%;
  left: -302px;
  border: 1px solid black;
  height: 621px;
  width: 621px;
  background-color: transparent;
  cursor: pointer;
}

.portalCentral {
  border: 3px solid ghostwhite;
  position: relative;
  top: -3%;
  left: 48%;
  border-radius: 50%;
  height: 430px;
  width: 15px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes aparece {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fuego {
  0% {
    box-shadow: 0 0 60px rgb(233, 71, 7), 0 0 80px rgb(194, 63, 11), 0 0 100px rgb(233, 192, 7), 0 0 120px rgb(216, 197, 25), 0 0 1400px rgb(233, 199, 7), 0 0 160px rgb(247, 89, 26);
  }
  100% {
    box-shadow: 0 0 180px rgb(216, 197, 25), 0 0 200px rgb(233, 199, 7), 0 0 220px rgb(247, 89, 26);
  }
}
@keyframes aire {
  0% {
    box-shadow: 0 0 60px rgb(116, 241, 235), 0 0 80px rgb(116, 241, 235), 0 0 100px rgb(116, 241, 235), 0 0 120px rgb(116, 241, 235), 0 0 140px rgb(116, 241, 235), 0 0 160px rgb(116, 241, 235);
  }
  100% {
    box-shadow: 0 0 180px rgb(116, 241, 235), 0 0 200px rgb(116, 241, 235), 0 0 220px rgb(116, 241, 235);
  }
}
@keyframes tierra {
  0% {
    box-shadow: 0 0 60px rgb(3, 197, 13), 0 0 80px rgb(3, 197, 13), 0 0 100px rgb(3, 197, 13), 0 0 120px rgb(3, 197, 13), 0 0 140px rgb(3, 197, 13), 0 0 160px rgb(3, 197, 13);
  }
  100% {
    box-shadow: 0 0 180px rgb(3, 197, 13), 0 0 200px rgb(3, 197, 13), 0 0 220px rgb(3, 197, 13);
  }
}
@keyframes agua {
  0% {
    box-shadow: 0 0 60px rgb(87, 143, 228), 0 0 80px rgb(87, 143, 228), 0 0 100px rgb(87, 143, 228), 0 0 120px rgb(87, 143, 228), 0 0 140px rgb(87, 143, 228), 0 0 160px rgb(87, 143, 228);
  }
  100% {
    box-shadow: 0 0 180px rgb(87, 143, 228), 0 0 200px rgb(87, 143, 228), 0 0 220px rgb(87, 143, 228);
  }
}
/*end portales*/
.hero-trans {
  background-color: rgba(0, 0, 0, 0.507) !important;
  border-radius: 8px !important;
}

h1, h3 {
  color: whitesmoke;
  font-family: "Uncial Antiqua", cursive;
}

.stretched-link, strong {
  font-family: "Caesar Dressing", cursive;
}

.pantalla {
  margin-top: 5%;
  margin-left: 5%;
  position: relative;
  justify-content: space-around;
}

.container {
  position: absolute;
}

.container2 {
  margin-top: 30%;
  position: absolute;
}

img {
  height: 300px;
}

.imagen {
  border: 2px solid black;
  border-radius: 2%;
  position: relative;
}

.texto {
  position: relative;
  margin-top: -24%;
  margin-left: 32%;
  width: 35%;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.texto p {
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
}

.pagPri {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./img/espacio.jpg");
}

.aire {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./img/aire.webp");
}

.tierra {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./img/bosque.jpg");
}

.fuego {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./img/Pexels Videos 2715412.gif");
}

.agua {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./img/agua.gif");
}

/*# sourceMappingURL=styles.css.map */
