
.title {
    text-align: center;
    font-size: 40px;
    color: rgb(10, 13, 24);
    margin-top: 25px;
    font-weight: 100;
}
.cont {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cont.down {
    display: none;
}
.title.down {
    display: none;
}
.cont .carta {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.cont .carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.cont .carta img {
    width: 330px;
    height: 220px;
}

.cont .carta h4 {
    font-weight: 600;
}

.cont .carta p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.cont .carta a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(36, 76, 151);
}
