.container.down {
    display: none;
}

.card-title {
    font-family: 'Uncial Antiqua', cursive;
}
.experiencia {
    height: 450px;
    margin: 2% 25%;
    border-radius: 16px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    box-shadow: 0 8px 16px rgb(60, 81, 199);
}
audio {
    margin-bottom: 2%;
}