@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

$color-font: whitesmoke;

.menu {
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-logo {
    height: 67.5px;
    width: 120px;
    position: absolute;
    left: 35%;
    top: -30px;

}
.nombre {
    margin-top: -15px;
    position: absolute;
    left: 100%;
}
.logo {
    position: relative;
    display: flex;
    color: $color-font;
    font-size: 30px;
    padding: 0 80px;
    font-weight: bold;
    font-family: 'Uncial Antiqua', cursive;
    cursor: pointer;
}
.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
    font-family: 'Caesar Dressing', cursive;
}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    color: $color-font;
}
.menu_items li:hover {
    background-color: rgba(0,0,0,.1);
}
.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    display: none;
    color: $color-font;
}
ul.show {
    top:65px;
}
@media screen and (max-width:952px){
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .img-logo {
        left: 12%;
        top: -33px;
    }
    .menu_items li a {
        font-size: 16px;
    }
}

@media screen and(max-width: 858px){
    .menu {
        height:65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: rgba(2, 4, 15, 0.726);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;  
    }
    .menu_items li a {
        color: $color-font;
        font-size: 20px;   
        opacity: 0.7;
    }
    .menu_items li:hover {
        background:none;
        box-shadow: 0 0 10px $color-font;
        background-color: rgb(29, 27, 27);
        transition: 0.5s;
    }
    .menu_items li a:hover {
        color: rgb(250, 180, 29);
        background-color: rgb(29, 27, 27);
    }
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
}
@media  screen and (max-width:585px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}